@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import "tailwindcss";

/* Base layer */
@layer base {
  body {
    font-family: "Lato", sans-serif;
  }
}

/* Custom theme variables */
@theme {
  --color-primary: oklch(0.4 0.22 25);
  --color-secondary: oklch(0.6 0.25 27);
  --color-accent: oklch(0.8 0.12 330); /* Pinkish accent */
  --color-red: oklch(0.6 0.25 27); /* Vibrant red */
}

/* Utilities for solid background and text */
@utility bg-primary {
  background-color: var(--color-primary);
}

@utility text-primary {
  color: var(--color-primary);
}

/* Gradient utility */
@layer utilities {
  .text-gradient-primary {
    background: linear-gradient(
      to right,
      var(--color-primary),
      var(--color-secondary)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }
}
